/* Tamaño de fuente de párrafo de 20px y espaciado entre letras de 5px, no pueden haber más de 44 caracteres por columna */

html,

body {
  position: relative; 
  font-family: Helvetica;
  /* letter-spacing: 5px; */
}

App {
  font-size: 10px;
  /* letter-spacing: 5px; */
}

h1 {
  /* letter-spacing: 5px; */
}

p {
  font-size: 10px;
  /* letter-spacing: 5px; */
}




