.contenedor-formulario {
    font-family: Helvetica;
    height: 35em;
    width: 450px;
    background-color: black;
    border-radius: 15px;
    display: grid;
    align-items: center;
    margin: 0 auto;
    align-content: center;
}
.contenedor-formulario h2 {
    color: aqua;

}
.contenedor-formulario p {
    color: yellow;
}
.contenedor-formulario label {
    color: white;
    display: inline-block;
    width: 80px;
}
.contenedor-formulario input {
    background-color: yellow;
     justify-content: center;
}
.contenedor-formulario .btn-enviar {
    background-color: aqua;
    margin-top: 10px;
}

.recaptcha{
    margin-left: 100px;
    margin-top: 10px;
}


