.foto-hero {
    height: auto;
    width: 100%;
}

.contenedor-texto-hero{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    gap: -10px;
    align-items: center;
    font-size: 2em;
}

.texto-debajo-hero{
    color: aqua;
    padding: 0;
    margin: 10px;
    letter-spacing: 5px;
}

.texto-debajo-hero a{
    color: #F7D101;
    text-decoration: none;
}

.texto-principal-hero{
    position: absolute;
    height: 200px;
    width: 400px;
    left: calc(2300px/2 - 40px); 
    top: calc(1200px/2 - 10px);
    background-color: black;
    color: white;
    font-weight: 700;
    font-size: 2.5em;
}

.texto-madrid{
    font-weight: 1000;
    font-size: 2.5em;
}